header img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
main {
    background-color: rgb(76, 75, 75);
}
main img {
    width: 25%;
    box-sizing: border-box;
    border: 20px solid rgb(47, 46, 46);
    border-radius: 50%;
    margin: 80px;
}
.middle {
    margin: 80px 0px;

}